apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: java-springboot-bkjcyyps
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/sjmrhtap/java-springboot-bkjcyyps:ce3907eccd36793cac2236f9f1bd27a7afd15efc@sha256:720bcd87b13c1479cfb167bfde7894cd5e5391f4680d07e923858495bcb0f981
          name: container-image
